.banner {
    background-image: url(../../images/background2.jpg);
    background-size: cover;
    background-position: inherit;
    text-align: center;
    padding: 20px;
}

.banner h1 {
	color: black;
}

.banner p {
	color: black;
	justify-content: center;
	align-content: center;
	padding-bottom: 10px;
	margin-bottom: 50px;
	margin-top: 10px;
}

.banner img {
position: left;

}